@media screen and (max-width: 480px) {

  
      .container{
        max-width: 480px;

      }
      
      .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -4rem;

      }

      .col{
        padding-bottom: 4rem;
        min-width: 340px;
      }


      .why-us{
        background-color: black;
        padding-top: 3rem;
        margin-top: -3rem;
      }

      .why-us .text-center{
        padding-inline: 2rem;
      }

      .col-right{
        padding-inline: 1.5rem;
      }

}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px 
        
    }
    
}